body{
    background-image: url(images/wallpaper.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}




.jumbotron{
    text-align: center;
}

button{
    background-color: rgb(232, 172, 240);
    border: 2pt solid black;
    color: black;
    text-align: center;
    font-size: 30px;
}

h1{
    font-size: xx-large;
}